body
{
    color: #204848 !important;
    background-color: var(--bs-dark) !important;
}

.main-container
{
    background-color: white !important;
}

.intro-section
{
    color: #B0B0B0 !important;
    background-color: #101818 !important;
}

.intro-title
{
    color: #0CA78C !important;
}

.my-span
{
    color: #F73B27 !important;
}
