body
{
	padding-bottom: 50px;
}

svg
{
	margin: 0px;
	padding: 0px;
}

#home-section
{
    padding-top: 90px;
}

#cards-section
{
	padding-top: 70px;
}

.jumbotron
{
	padding: 35px;
	margin-bottom: 0px;
	background-color: #DF5050;
}

.jumbotron h1
{
	color: #FFF8F8;
}


.jumbotron .lead
{
	font-size: 1.35rem;
	color: #FFE0E0;
}

.navbar-nav
{
	margin-left:  100px;
}


.anchored-section
{
	margin-top: 70px;
	margin-bottom: 70px;
}

.textual-area
{
	padding-left: 140px;
	padding-right: 140px;
}

.text-title
{
	margin-top: 20px;
	margin-bottom: 20px;
}

.blockquote
{
	margin-left: 20px;
	margin-right: 20px;
}

.card-footer
{
	background-color: white;
	border-color: white;
}

.carousel
{
	background-color: #101010;
	padding-bottom: 2px;
}


.card-header
{
	background-color: #5C6268;
}

.card-title
{
	color: white;
	font-weight: bold;
	color: #F4FAFF;
}

.card-subtitle
{
	color: #D4DAE0;
}

.card-text
{
	color:#6C7278;
}

.card
{
	border-color: #8C9298;
}

.text-title
{
	color: #C73838;
}
