body
{
    color: #D0D0D0 !important;
    color: #E7E7E7 !important;
    color: #CFCFCF !important;
    background-color: var(--bs-dark) !important;
}

.my-p
{
    color: gray !important;
    color: #8F9F9F !important;
}


.intro-section
{
    color: #B0B0B0 !important;
    color: #D0D0D0 !important;
    color: #DFDFDF !important;
    color: #BFD7D7 !important;
    background-color: #101818 !important;
    background-color: #204848 !important;
}

.intro-title
{
    color: #0CA78C !important;
    color: #20AF94 !important;
    color: #20AF94 !important;
}

.my-span
{
    color: #F73B27 !important;
    color: #CF9C00 !important;
    color: #DFB410 !important;
    color: tomato !important;
}


.my-bg-bis
{
    color: #E7E7E7 !important;
    background-color: #006E87 !important;
}

.my-bg
{
    color: #BFD7D7 !important;
    background-color: #204848 !important;
}